<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">



    <th:block th:fragment="content">

        <h1 class="mt-4">Movie Register Page</h1>

        <form action="/movie/register" method="post">
            <div class="form-group">
                <label >Title</label>
                <input type="text" class="form-control regTitle" name="title" placeholder="Enter Title">
            </div>

            <div class="form-group fileForm">
                <label >Image Files</label>
                <div class="custom-file">
                    <input type="file"  class="custom-file-input files" id="fileInput" multiple>
                    <label class="custom-file-label" data-browse="Browse"></label>
                </div>
            </div>

            <div class="box">

            </div>

            <button type="button" class="btn btn-primary registerBtn">Submit</button>
        </form>


        <div class="uploadResult">
            <ul>

            </ul>
        </div>

        <style>
            .uploadResult {
                width: 100%;
                background-color: gray;
                margin-top: 10px;
            }

            .uploadResult ul {
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                vertical-align: top;

            }

            .uploadResult ul li {
                list-style: none;
                padding: 10px;
                margin-left: 2em;
            }

            .uploadResult ul li img {
                width: 100px;
            }
        </style>

        <script>
            let regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
            let maxSize = 10485760; //10MB

            function checkExtension(fileName, fileSize){
                if(fileSize >= maxSize){
                    alert("파일사이즈 초과");
                    return false;
                }
                if(regex.test(fileName)){
                    alert("해당 파일은 업로드할수 없습니다.");
                    return false;
                }
                return true;
            }

            /**
            * Show File Image (thumbnail)
            * @param uploadResultArr : ajax success FileData
            * @return void
            */
            function showResult(uploadResultArr){
                let uploadUL = document.querySelector(".uploadResult ul");
                let str = "";
                uploadResultArr.forEach( (obj) => {
                    str += "<li data-name='"+obj.fileName+"' ";
                    str += "data-path='"+obj.imageURL+"' " ;
                    str += "data-uuid='"+obj.uuid+"' >";
                    str + " <div>";
                    str += "<button type='button' data-file=\'" ;
                    str +=  obj.thumbnailURL + "\' "
                    str +=  "onClick=thumbnailDelete('"+ obj.fileName + "')"
                    str += " class='btn-warning btn-sm deleteBtn'>X</button><br>";
                    str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>";
                    str += "</div>";
                    str + "</li>";
                });
                document.querySelector(".uploadResult ul").innerHTML = str;

            }

           /**
            * Delete Thumbnail Btn Event
            * @param targetFile : data-file 값
            * @return void
            */
            function thumbnailDelete(targetData = "noData"){
                //Delete
                $.ajax({
                    url: '/removeFile',
                    data: {fileName: targetData},
                    dataType:'text',
                    type: 'POST',
                    success: function(result){
                        alert(result);
                        //Delete target Element
                        document.querySelector("[data-file='"+targetData+"']").parentElement.remove();
                    }
                }); //$.ajax

            }


            //////////////////////////////////////////////
            //FileUpload Input Change Event             //
            //////////////////////////////////////////////
            document.querySelector(".custom-file-input").addEventListener("change",(data)=>{

                //File Data
                const filesData  = data.target.files;
                //Make From Object
                const formData = new FormData();

                //File Length
                /**
                * Description : file Index 를 구함 Array의 길이 -1을 해줘서
                *               파일 명 및 ~~ 외 N 개를 위하여 -1 을 해줌
                */
                let fileLength = filesData.length - 1;
                //FileAppend Flag
                let appended = false;

                if(fileLength === -1){
                    document.querySelector(".custom-file-label").innerHTML = "";
                    return;
                }

                for(let i of filesData){
                    //file Check
                    if(!checkExtension(i.name, i.size)){
                        return false;
                    }//if
                    console.log(i);

                    //Add File to From
                    formData.append("uploadFiles",i);
                    appended = true;
                }

                //Append Flag check
                if(!appended) return;

                //Write File Name To Label
                document.querySelector(".custom-file-label").innerHTML =  filesData[fileLength].name  + " 외" + fileLength + "개"

                /**
                * 개발자 debugger 상으로는 values()가 비어있음
                * console.log()상으로 찍으면 나옴
                */
                for(let form of formData.values()){
                    console.log(form);
                }

                //실제 업로드 부분
                $.ajax({
                    url : "/uploadAjax"
                    , processData : false
                    , contentType : false
                    , data : formData
                    , type : 'POST'
                    , dataType : 'json'
                    , success : function(result){
                        console.log(result);
                        showResult(result);
                    },
                    error : function(jqXHR, textStatus, errorThrown){
                        console.log("jqXHR",jqXHR);
                        console.log("textStatus",textStatus);
                        console.log("errorThrown",errorThrown);
                    }
                });// ajax
            })//FileUpload Input Change Event--End

            //////////////////////////////////////////////
            //Submit Btn  Event                         //
            //////////////////////////////////////////////
            /**
             * @Description : 기존 Form 을 사용해서 데이터를 보낼 시 
             *                Controller 에서 받는 DTO 형식과 다르기에 
             *                아래와 같이 input hidden 을 추가 후
             *                submit() 시킴!
             * 
             * Error : movieDTO ::: MovieDTO(mno=null, title=123, imageDTOList=null) ==> [imageDTOList] nullpointException
             *
             * ✔ 주의 사항 : 헷갈리면 안되는것 !!
             *              1) Controller 단에 전달 시 비동기통신으로 할거면 @ResponseBody 로 받아줘야함! 당연한거임
             *                    - form 방식과 비동기방식은 다른것이기 때문임
             *
             *              2) client 에서 변수 전달 시 변수 명으로 해야함 헷갈리지 말자
             *                - ex) MovieDTO -> List<MovieImageDTO> imageDTOList 경우
             *                      - 하단처럼 imageDTOList[index].Key 값으로 해야함!
             *                         ✔ MovieImageDTO << Class 명으로 헷가리지 말자!
            */
            document.querySelector(".registerBtn").addEventListener("click",(e)=>{
                e.preventDefault();
                let str = "";
                document.querySelectorAll(".uploadResult li").forEach((li, index) => {
                    const dataSet = li.dataset;
                    str += "<input type='hidden' name='imageDTOList["+index+"].uuid' value='"+dataSet.uuid+"'>";
                    str += "<input type='hidden' name='imageDTOList["+index+"].imgName' value='"+dataSet.name+"'>";
                    str += "<input type='hidden' name='imageDTOList["+index+"].path' value='"+dataSet.path+"'>";
                });//forEach
                //만들어진 hidden 추가
                document.querySelector(".box").innerHTML = str;
                //Do submit
                document.querySelector("form").submit();
            })
        </script>

    </th:block>

</th:block>