<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">Movie Register Page</h1>

        <form action="/movie/register" method="post">
            <div class="form-group">
                <label >Title</label>
                <input type="text" class="form-control" name="title" placeholder="Enter Title">
            </div>

            <div class="form-group fileForm">
                <label >Image Files</label>
                <div class="custom-file">
                    <input type="file"  class="custom-file-input files" id="fileInput" multiple>
                    <label class="custom-file-label" data-browse="Browse"></label>
                </div>
            </div>

            <div class="box">

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <script>
            let regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
            let maxSize = 10485760; //10MB

            function checkExtension(fileName, fileSize){
                if(fileSize >= maxSize){
                    alert("파일사이즈 초과");
                    return false;
                }
                if(regex.test(fileName)){
                    alert("해당 파일은 업로드할수 없습니다.");
                    return false;
                }
                return true;
            }

            document.querySelector(".custom-file-input").addEventListener("change",(data)=>{
               let fileName = "";

                debugger;
            })
        </script>

    </th:block>

</th:block>