<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
const query = `query{
                      allFindMembers{
                        email
                        password
                      }
                    }`
fetch( "/graphql" ,
        {
          // POST 방식은 고정이다
          method: 'POST',
          // Content-Type 또한 json 고정
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ query })
        }
      ).then(res => res.json())
       .then(json => console.log(json))
       .catch(err => console.log(err));
</script>


</body>
</html>