<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>
</head>
<body>
    <!-- multiple 설정 필수 -->
    <input name="uploadFiles" type="file" multiple>
    <button class="uploadBtn">upload</button>

    <div class="uploadResult">
        <!--   Load Image     -->
    </div>

    <script>


        document.querySelector(".uploadBtn").addEventListener("click",()=>{

            // 1. form 객체 생성
             let formData = new FormData();
            // 2. input name="uploadFiles"에 업로드 된 File을 읽음
             let inputFile = document.querySelector("input[name='uploadFiles']").files;

             // 2 . File을 form에 append 시킴
             for(let i of inputFile){
                formData.append("uploadFiles",i);
             }//for

            //비동기 통신 -ajax
            $.ajax({
                url : '/uploadAjax',
                processData : false,
                contentType : false,
                data : formData,
                type : 'post',
                dataType : 'json',
                success : function(result){
                 console.log(result);
                 //showUploadImages(result);
                },
                error : function(jqXHR, textStatus, errorThrown ){
                    console.log(textStatus);
                }
            })

        });// click

        //get Image
        function showUploadImages(arr){
            console.log("arr",arr);

            const divArea = document.querySelector(".uploadResult");

            arr.map( (data) => {
               return "<img src='/display?fileName=" +  data['thumbnailURL'] + "'>"
                + "<button class='removeBtn' onClick='delFile(" +  data['imageURL']  + ")' data-name='" +  data['imageURL']  + "'>remove</button>";
                })
            .forEach( (img) => divArea.insertAdjacentHTML("beforeend",img));
        }

        function delFile(data){

            const fileName = data;

            $.post("/removeFile",{fileName : fileName}, (result)=>{
                console.log("result",result);
                if(result === true) {
                    document.querySelectorAll('[data-name]').forEach((datInfo)=>{
                        if( datInfo.dataset.name === fileName){
                            datInfo.remove()
                        }
                    })
                }//if
            })

        }


    </script>

</body>
</html>