<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>I'm Redirect Target</h1>
    <p>  flag :: [[${flag}]]</p>
    <p>  person :: [[${person}]]</p>
    <p>  personArr :: [[${personArr}]]</p>
    <p>  list :: [[${list}]]</p>

    <script th:inline="javascript">
        let flag = [[${flag}]]
        let person = [[${person}]]
        let personArr = [[${personArr}]]
        let list = [[${list}]]

        console.log(`flag ${flag}`);
        console.log(`person ${person}`);
        console.log(`personArr ${personArr}`);
        console.log(`list ${list}`);
    </script>

</body>
</html>