<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div class="container">
  <div class="col-6">
    <h1 id="roomName"></h1>
  </div>
  <div>
    <div id="msgArea" class="col"></div>
    <div class="col-6">
      <div class="input-group mb-3">
        <input type="text" id="msg" class="form-control">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script>
    const urlParams = new URL(location.href).searchParams;

    const roomName = urlParams.get('roomName');
    const roomId = urlParams.get('roomId');
    const username = "8081 포트!";

    console.log(roomName + ", " + roomId + ", " + username);

    // 👉 중요 포인트는 열려있는 소캣의 Full URI를 넣어줘야한다는 것이다.
    const sockJs = new SockJS("http://localhost:8080/stomp/chat");
    //1. SockJS를 내부에 들고있는 stomp를 내어줌
    const stomp = Stomp.over(sockJs);

    //2. connection이 맺어지면 실행
    stomp.connect({}, function (){
       console.log("STOMP Connection")

       //4. subscribe(path, callback)으로 메세지를 받을 수 있음
       stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
           var content = JSON.parse(chat.body);
           var writer = content.writer;
           var str = '';
           if(writer === username){
               str = "<div class='col-6'>";
               str += "<div class='alert alert-secondary'>";
               str += "<b>" + writer + " : " + content.message + "</b>";
               str += "</div></div>";
               document.querySelector("#msgArea").insertAdjacentHTML("beforeEnd",str);
           } else{
               str = "<div class='col-6'>";
               str += "<div class='alert alert-warning'>";
               str += "<b>" + writer + " : " + content.message + "</b>";
               str += "</div></div>";
               document.querySelector("#msgArea").insertAdjacentHTML("beforeEnd",str);
           }
       });

       //3. send(path, header, message)로 메세지를 보낼 수 있음
       stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}))
    });

    document.querySelector("#button-send").addEventListener("click", (e)=> {
        var msg = document.getElementById("msg");
        console.log(username + ":" + msg.value);
        stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg.value, writer: username}));
        msg.value = '';
    });
  </script>

</body>
</html>