<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

  <th:block th:fragment="content">

    <h1 class="mt-4">board Read Page</h1>

    <div class="form-group">
      <label >Gno</label>
      <input type="text" class="form-control" name="gno" th:value="${dto.bno}" readonly >
    </div>

    <div class="form-group">
      <label >Title</label>>
      <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly >
    </div>
    <div class="form-group">
      <label >Content</label>
      <textarea class="form-control" rows="5" name="content" readonly>[[${dto.content}]]</textarea>
    </div>
    <div class="form-group">
      <label >Writer</label>
      <input type="text" class="form-control" name="writer" th:value="${dto.writerName}" readonly>
    </div>
    <div class="form-group">
      <label >RegDate</label>
      <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
    </div>
    <div class="form-group">
      <label >ModDate</label>
      <input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
    </div>

    <a th:href="@{/board/modify( bno = ${dto.bno}
                                      , page=${requestDTO.page}
                                      , type = ${requestDTO.type}
                                      , keyword = ${requestDTO.keyword} )}">
      <button type="button" class="btn btn-primary">Modify</button>
    </a>

    <a th:href="@{/board/list( page = ${requestDTO.page}
                                  , type = ${requestDTO.type}
                                  , keyword = ${requestDTO.keyword} ) }">
      <button type="button" class="btn btn-info">List</button>
    </a>

    <!-- ReplySection -->
    <div>
      <div class="mt-4">
        <h5>
          <span class="badge badge-info addReply">add Reply</span>
        </h5>
        <h5>
          <span class="badge badge-secondary replyCount">Reply Count [[${dto.replyCount}]]</span>
        </h5>
      </div>
      <div class="list-group replyList">

      </div>
    </div>

    <!-- modal -->
    <div class="modal" tabindex="-1" role="dialog" style="background-color:#000000b0">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label >Replyer</label>
              <input type="text" class="form-control" name="replyer" >
            </div>
            <div class="form-group">
              <label >Reply</label>
              <input type="text" class="form-control" name="replyText" placeholder="Reply Text..." >
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary modalCloseBtn" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary replySaveBtn">Save</button>
          </div>
        </div>
      </div>
    </div>


  </th:block>

</th:block>

<script th:inline="javascript">

  const bno = [[${dto.bno}]];

  reloadReplyList();

  const replyCount = document.querySelector(".replyCount");

  //버튼 이벤트
  replyCount.addEventListener("click",()=>{
    reloadReplyList();
  })//click Event

  const listGroup = document.querySelector(".replyList");

  //DateSetFunction
  function formatTime(str){

    const date = new Date(str);

    return  date.getFullYear() + "-" + ( date.getMonth() + 1 ) + "-" + date.getHours()  + ":" + date.getMinutes();;
  }

  function reloadReplyList(){
    $.getJSON('/replies/board/'+bno, (arr)=>{
      let htmlStr = "";

      //refresh ReplyCount html
      replyCount.innerHTML = "Reply Count" + arr.length;

      //draw reply List
      arr.forEach( reply => {
        htmlStr += `<div class="card-body" data-rno="${reply.rno}">`;
        htmlStr += `<b>${reply.rno}</b>`;
        htmlStr += `<h5 class="card-title">${reply.text}</h5>`;
        htmlStr += `<h6 class="card-subtitle mb-2 text-muted">${reply.replyer}</h5>`;
        htmlStr += `<p class="card-text">`+formatTime(`${reply.regDate}`)+`</p>`;
        htmlStr += `</div>`;
      })
      listGroup.innerHTML = htmlStr;
    })
  }

//Modal
const modal = document.querySelector(".modal");
// add Reply But click Event
document.querySelector(".addReply").addEventListener("click",()=>{

   //input init
   document.querySelector("input[name='replyer']").value = "";
   document.querySelector("input[name='replyText']").value = "";

   //modal Show
   modal.style.display = "block";
})

//Modal close Click Event
document.querySelector(".modalCloseBtn").addEventListener("click",()=>{
   //hide Show
   modal.style.display = "none";
});

//Save Reply Btn Click Event
document.querySelector(".replySaveBtn").addEventListener("click",()=>{

   //make Body Data
   let reply = {
     bno : bno,
     replyer : document.querySelector("input[name='replyer']").value ,
     text    : document.querySelector("input[name='replyText']").value
   }

   $.ajax({
    url : "/replies/",
    method : "post",
    data : JSON.stringify(reply),
    contentType : "application/json; charset=utf-8",
    dataType : "json",
    success : (data)=>{
      console.log(123)
      const newRno = Number(data);
      alert(newRno + "번 댓글이 등록되었습니다.");
      //reDraw
      reloadReplyList();
    },
    error : function(request,status,error){
      console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
    }
   });

   //hide Show
   modal.style.display = "none";
});

</script>