<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <div class="container">
    <div class="col-6">
      <h1 id="roomName"></h1>
    </div>
    <div>
      <div id="msgArea" class="col"></div>
      <div class="col-6">
        <div class="input-group mb-3">
          <input type="text" id="msg" class="form-control">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6"></div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script>
    // 편의상 Get방식을 사용함
    const urlParams = new URL(location.href).searchParams;
    const roomName  = urlParams.get('roomName');
    const roomId    = urlParams.get('roomId');
    const username  = "8080포트";

    /**
    * 1. SockJS를 객체를 사용하여 Stomp객체 생성
        - 상대경로 작성 시 다른 클라이언트에서는 해당 포트가 적용 되므로 Full Path를 사용하자
    */
    const stomp = Stomp.over( new SockJS("http://localhost:8080/stomp/chat"));

    // 👉 해당 설정을 해줘야 sub, pub 시 로그기 안나옴
    stomp.debug = null;

    //2. connection이 맺어지면 실행
    stomp.connect({}, () => {

       //4. subscribe(path, callback)으로 메세지를 받을 수 있음
       stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
           const content = JSON.parse(chat.body);
           const writer = content.writer;
           const str = `<div class='col-6'>
                        <div class='alert ${writer === username ?"alert-secondary" :  "alert-warning"}'>
                          <b> ${writer} : ${content.message} </b>
                          </div>
                      </div>`;
           document.querySelector("#msgArea").insertAdjacentHTML("beforeEnd",str);
       });

       //3. send(path, header, message)로 메세지를 보낼 수 있음
       stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}))
    });

    // 메세지 전송 버튼 이벤트
    document.querySelector("#button-send").addEventListener("click", (e)=> {
        const msg = document.getElementById("msg");
        stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg.value, writer: username}));
        msg.value = '';
    });
  </script>

</body>
</html>