<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>채팅방 목록!</h1>

<div>
    <input type="text" id="roomName" name="name" class="form-control">
    <button id="makeChatRoom" class="btn btn-secondary">개설하기</button>
</div>

<hr/>

<div class="container">
    <ul id="chatRoomList">
    </ul>
</div>

<script>
    // 방 등록
    document.querySelector("#makeChatRoom").addEventListener("click",(e)=>{
        fetch("/chat/room", {
          method: "POST",
          body: document.querySelector("#roomName").value
        }).then((response) => response.text())
        .then((result) => {
          console.log(result);
          getRoomList();
        }).catch(err => console.log(err));
    })

    // 방 목록 가져오기
    const getRoomList = ()=>{
        fetch("/chat/roomList")
        .then((response) => response.json())
        .then((result) => {
          console.log(result);
          let html = "";
          for(let item of result){
            html += '<li><a href="/chat/roomPage?roomId=' + item.roomId + '&roomName=' + item.name + '">' + item.name + '</a></li>';
          }// for
          document.querySelector("#chatRoomList").innerHTML = html;
        }).catch(err => console.log(err));
    }

</script>


</body>
</html>